{% extends "shop/base.html" %}

{% block details %}
<div class="list-and-product-description">

	<div class="list-of-categories1">
		<nav id="list1">
		</nav>
	</div>

	<img class="img-detail" src="{% if product.detail_image %}{{ product.detail_image.url }}{% endif %}" width="80%">

	<div class="product-decription">
		<p class="descr-name">{{ product.name }}</p>
		<p class="price">{{ product.price }} rub</p>


		<!-- <p><strong>Количество:</strong> {{ product.stock }}</p> -->
		{% if user.is_authenticated %}
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
			{{ cart_product_form }}
			{% csrf_token %}
			<input class="button2" type="submit" value="Добавить в корзину">
		</form>
		{% else %}
		<form action="/accounts/login" method="get">
			{{ cart_product_form }}
			{% csrf_token %}
			<input class="button2" type="submit" value="Добавить в корзину">
		</form>
		{% endif %}


		<p class="descr">{{ product.description }}</p>
	</div>
</div>

{% endblock %}