{% extends "shop/base.html" %}

{% block photos-content %}

{% load staticfiles %}



<div class="categories-photo">
    <div class="ceramics">
      <a><img id="ceramics" src="{% static 'images/tap.jpg' %}" height="600"></a>
      <div id="ceramics-border-right"></div>
      <div id="ceramics-border-bottom"></div>
    </div>
    <div class="notebooks">
      <a><img id="notebooks" src="{% static 'images/toilet.jpg' %}" height="600"></a>
      <div id="notebooks-border-right"></div>
      <div id="notebooks-border-bottom"></div>
    </div>
    <div class="candles">
      <a><img id="candles" src="{% static 'images/sink.jpg' %}" height="600"></a>
      <div id="candles-border-right"></div>
      <div id="candles-border-bottom"></div>
    </div>
    <div class="planers">
      <a><img id="planers" src="{% static 'images/bath.jpg' %}" height="600"></a>
      <div id="planers-border-right"></div>
      <div id="planers-border-bottom"></div>
    </div>
</div>
{% endblock %}