<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- <link href="css/styles1.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap" rel="stylesheet">
  <meta charset="utf-8">

  
  <title>Maison</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

</head>

<body>
  <div id="fixed_nav">
    <div class="badges-menu">
      <nav class="icon-menu-left">
        <a href="{% url 'shop:product_list' %}"><img id="menu" class="badges"
            src="{% static 'images/MenuLines.png' %}"></a>
        <a href="#lefpanelmenu"><img id="magnifier" class="badges" src="{% static 'images/Magnigier.png' %}"></a>
      </nav>
      <nav class="icon-menu-right">

        {% if user.is_authenticated %}
        <a href="/accounts/logout" id="click-me"><img id="heart" class="badges"
            src="{% static 'images/account.png' %}"></a>
        <a href="{% url 'cart:cart_detail' %}"><img id="bucket" class="badges"
            src="{% static 'images/Bucket.png' %}"></a>
        {% else %}
        <a href="/accounts/login" id="click-me"><img id="heart" class="badges"
            src="{% static 'images/account.png' %}"></a>
        <a href="/accounts/login"><img id="bucket" class="badges" src="{% static 'images/Bucket.png' %}"></a>
        {% endif %}


        <div class="user">
          {% if user.is_authenticated %}
          <a href="#" id="user">{{ user.get_username }}</a>
          {% endif %}
        </div>

        {% if user.is_authenticated %}
        <a href="{% url 'shop:show_orders' %}" class="link">заказы</a>
        {% else %}
        <a href="/accounts/login" class="link">заказы</a>
        {% endif %}
      </nav>
    </div>

    <h1 id="logo_location"><a href="{% url 'shop:main' %}" id="logo_decoration">MAISON</a></h1>

    <nav class="menu">
      <div class="nav-link-wrapped category">
        <a href="{% url 'shop:product_list_bath' %}">Ванны</a>
        
      </div>
      <div class="nav-link-wrapped category">
        <a href="{% url 'shop:product_list_sink' %}">Раковины</a>
        
      </div>
      <div class="nav-link-wrapped category">
        <a href="{% url 'shop:product_list_tap' %}">Смесители</a>
        
      </div>
    </nav>
  </div>
  <br> <br>
  
  {% block orders %} {% endblock %}
  {% block create %} {% endblock %}
  {% block created %} {% endblock %}
  {% block password_reset %} {% endblock %}
  {% block verification_sent %} {% endblock %}
  {% block verified_email_required %} {% endblock %}
  {% block password_reset_done %} {% endblock %}
  {% block signup_closed %} {% endblock %}
  {% block password_change %} {% endblock %}
  {% block email_confirm %} {% endblock %}
  {% block password_reset_from_key_done %} {% endblock %}
  {% block account_inactive %} {% endblock %}

  {% block signup %} {% endblock %}
  {% block login %} {% endblock %}
  {% block logout %} {% endblock %}
  {% block card %} {% endblock %}
  {% block details %} {% endblock %}
  {% block catalog %} {% endblock %}
  {% block photos-content %}

  {% endblock %}
  <br><br>

  <div class="footer">
    
  </div>


  
</body>

</html>

