{% extends "shop/base.html" %}
{% block create %}
    
    <div id="current-position-of-order">
        <div id="current-position-of-order-line"></div>

        <div id="current-position-of-order-card"></div>
        <p id="current-position-of-order-card-title">Корзина</p>
        <p id="current-position-of-order-card-1">1</p>
        <div id="current-position-of-order-ordering"></div>
        <p id="current-position-of-order-ordering-title">Оформление заказа</p>
        <p id="current-position-of-order-ordering-2">2</p>
        <div id="current-position-of-order-payment"></div>
        <p id="current-position-of-order-payment-title">Оплата</p>
        <p id="current-position-of-order-payment-3">3</p>
        <div id="current-position-of-order-finish"></div>
        <p id="current-position-of-order-finish-title">Завершение</p>
        <p id="current-position-of-order-finish-4">4</p>
    </div>

    <div class="ordering-info">
    

        <div class="text-field" id="first-text-field">
            <p>Данные для доставки</p>
        </div>

        <div class="input-field">
            <form action="." method="post" class="order-form">
                {{ form.as_p }}
                <div class="button-field" id="padd">
                <p><input type="submit" value="Оформить заказ" class="button"></p>
                </div>
                {% csrf_token %}
            </form>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <form action="." method="post" class="order-form">
            
        </form>


        <!-- <div class="input-field">
            <input type="text" name="lastname" placeholder="Фамилия" size="30">
            
        </div>
        <div class="input-field">
            <input type="text" name="firstname" placeholder="Имя" size="30">
        </div>
        <div class="input-field">
            <input type="text" name="patronymic" placeholder="Отчество" size="30">
        </div> 
         <div class="input-field">
            <input type="text" name="phone number" placeholder="Номер телефона" size="30">
        </div> 
        <div class="input-field">
            <input type="text" name="e-mail" placeholder="E-mail" size="30">
        </div>
        <div class="text-field">
            <p>Адрес доставки</p>
        </div>
        <div class="input-field">
            <input type="text" name="region" placeholder="Регион" size="30">
        </div>
        <div class="input-field">
            <input type="text" name="street" placeholder="Улица" size="30">
        </div>
        <div class="input-field">
            <input type="text" name="building number" placeholder="Номер дома" size="30">
        </div>
        <div class="input-field">
            <input type="text" name="flat number" placeholder="Квартира" size="30">
        </div>
        <div class="input-field">
            <input type="text" name="corpus" placeholder="Корпус" size="30">
        </div>
        <div class="input-field">
            <input type="text" name="index" placeholder="Индекс" size="30">
        </div>
        <div class="text-field">
            <p>Способ доставки</p>
        </div>
        <div class="input-field">
            <input type="text" name="region" placeholder="Регион" size="30">
        </div> 
        <div class="button-field">
            <form action="payment-process.html">

            <button class="button">Оформить заказ</button>
            </form>
        </div> -->
    </div>

    
	
	
    
	
	
{% endblock %}
	