{% extends "shop/base.html" %}
{% block create %}
    
    <div id="current-position-of-order">
        <div id="current-position-of-order-line"></div>

        <div id="current-position-of-order-card"></div>
        <p id="current-position-of-order-card-title">Корзина</p>
        <p id="current-position-of-order-card-1">1</p>
        <div id="current-position-of-order-ordering"></div>
        <p id="current-position-of-order-ordering-title">Оформление заказа</p>
        <p id="current-position-of-order-ordering-2">2</p>
        <div id="current-position-of-order-payment"></div>
        <p id="current-position-of-order-payment-title">Оплата</p>
        <p id="current-position-of-order-payment-3">3</p>
        <div id="current-position-of-order-finish"></div>
        <p id="current-position-of-order-finish-title">Завершение</p>
        <p id="current-position-of-order-finish-4">4</p>
    </div>

    <div class="ordering-info">
    

        <div class="text-field" id="first-text-field">
            <p>Данные для доставки</p>
        </div>

        <div class="input-field">
            <form action="." method="post" class="order-form">
                {{ form.as_p }}
                <div class="button-field" id="padd">
                <p><input type="submit" value="Оформить заказ" class="button"></p>
                </div>
                {% csrf_token %}
            </form>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <form action="." method="post" class="order-form">
            
        </form>


        
    </div>

    
	
	
    
	
	
{% endblock %}
	